<% if user_signed_in? %>
		<div class="row">
			<div class="col-12">
				<h1>Bienvenido  <%= current_user.email %> </h1>
				<div>
					<ul class="nav">
						<li>
							<p><strong>Tienes <%= @spectacles.count %></strong> Eventos</p>
							<%= link_to 'Crear Nuevo Evento', new_spectacle_path %>
						</li>
					</ul>
				</div>		
			</div>
		</div>
		<div class="row">
			<%= render @spectacles %>		
		</div>
		<% else %>
		<div class="index">
			<h1>Bienvenido a su gestor de Eventos</h1>		
		</div>
<% end %>


